<hibernate-configuration>
    <session-factory>

        <!-- PostgreSQL Driver -->
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <!-- DB URL -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/banking-system-v2-hibernate
        </property>

        <property name="hibernate.connection.username">
            postgres
        </property>

        <property name="hibernate.connection.password">
            @@@manju123
        </property>

        <!-- Dialect -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>

        <!-- Auto create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->
        <mapping class="org.bankv2.model.Account"/>
        <mapping class="org.bankv2.model.BankTransaction"/>

    </session-factory>
</hibernate-configuration>